<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="manipulator_urdf_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="claw2_j_threded_rod_up">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['claw2_j_threded_rod_up']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="baseplate2_j_base_link">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['baseplate2_j_base_link']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link1_1_j_shaft1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link1_1_j_shaft1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="shaft2_j_link2_1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['shaft2_j_link2_1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link3_j_shaft3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link3_j_shaft3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="bevel1_j_link3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['bevel1_j_link3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
