<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="manipulator_urdf">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import manipulator_urdf urdf file -->
    <xacro:include filename="$(find manip_description)/urdf/manipulator_urdf.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="manipulator_urdf.ros2_control.xacro" />


    <xacro:manipulator_urdf_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
