<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="newmanip_description_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="manipulaotr_base_plate_j_base_plate">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['manipulaotr_base_plate_j_base_plate']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="lin1_bottom_j_motor_holder_plate2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['lin1_bottom_j_motor_holder_plate2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="link2_base_holder_j_link2_holder_plate">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['link2_base_holder_j_link2_holder_plate']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="bevel_2_1_j_link3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['bevel_2_1_j_link3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="bevel1_j_link3_coupler">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['bevel1_j_link3_coupler']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="claw2_j_threded_rod_down">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['claw2_j_threded_rod_down']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
